parameters:
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    reportAlwaysTrueInLastCondition: true
    inferPrivatePropertyTypeFromConstructor: true